.ccf-rank {
  display: inline-block;
  height: 18.35px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-radius: 9px;
  padding: 1px 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.ccf-a {
  background-color: #e15f37;
}

.ccf-b {
  background-color: #f5bd42;
}

.ccf-c {
  background-color: #8eba3a;
}

.ccf-e {
  background-color: #4aa3ea;
}

.ccf-p {
  background-color: #6c757d;
}

.ccf-none {
  background-color: #6c757d;
}

.ccf-tooltip {
  display: inline-block;
  position: relative;
}

.ccf-tooltip .ccf-tooltiptext {
  visibility: hidden;
  background-color: #007bff;
  border-radius: 6px;
  padding: 5px 5px;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 980624;
  margin-left: -60px;
}

.ccf-tooltip:hover .ccf-tooltiptext {
  visibility: visible;
}

.rank-source {
  display: inline-block;
  height: 18.35px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1px 8px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 18.35px;
  white-space: nowrap;
}

.rank-source-ei {
  background-color: #e9a1a1;
}

.rank-source-sci {
  background-color: #58b7f6;
}

.rank-source-cas {
  background-color: #35a7d6;
}

.rank-source-top {
  background-color: #2774c7;
}

.rank-source-warning {
  background-color: #d9534f;
}

.rank-source-cn {
  background-color: #d8c878;
}

.rank-source-school {
  background-color: #3d95d8;
}

.rank-source-robotics {
  background-color: #7c5cff;
}

.rank-source-control {
  background-color: #0f8b8d;
}

.rank-source-mech {
  background-color: #7b6d5f;
}

.rank-source-ee {
  background-color: #006d77;
}

.rank-source-comm {
  background-color: #355070;
}

.rank-source-hot {
  background-color: #f97316;
}

.rank-source-default {
  background-color: #6c757d;
}
